/* 基本样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
 
/* 顶部导航栏样式 */
.navbar {
    background-color: #333;
    padding: 10px 0;
}
 
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
 
.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}
 
.navbar-nav ul {
    list-style: none;
    display: flex;
}
 
.navbar-nav li {
    margin-left: 20px;
}
 
.navbar-nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}
 
.navbar-nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}
 
/* 主内容区域容器样式 */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* 修改为100%以适应不同屏幕尺寸 */
    max-width: 1200px;
    padding: 20px; /* 添加内边距以提供空间 */
    box-sizing: border-box; /* 确保内边距不会增加容器的总宽度 */
}
 
.section {
    margin-bottom: 40px;
}
 
/* 页脚样式 */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* 卡片样式 */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
 
.card {
    position: relative;
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
     margin-top: 20px; /* 设置卡片顶部的间距 */
     margin-bottom: 20px; /* 设置卡片底部的间距 */
}
 
.card:hover {
    transform: translateY(-10px);
}
 
.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
 
.card-content {
    padding: 20px;
    text-align: center;
}
 
.card-content h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease;
}
 
.card:hover .card-content h2 {
    color: #007BFF;
}
.contact-method {
    margin: 1.5rem 0;
    padding: 1rem;
    background: #f8f9fa;
    border-radius: 8px;
}

.qrcode {
    width: 150px;
    height: 150px;
    margin: 0.5rem 0;
    border: 2px solid #eee;
}